body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 870px;
}
.navbar img{
    width: 40px;
}

.top-player{
    background-color: white;
    margin-top: 36px;
    border-radius: 5px;
    
}
.top-player h3{
    color: #562EFF;
    padding-top: 20px;
}
.player h6{
    padding: 0;
    margin: 0;
}
.player img{
    width: 56px;
}

.blog-image{
    width: 100%;
}